/* common style  */
body {
  font-family: "Poppins", sans-serif;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  background-color: #f3f1ff;
  width: 870px;
  padding: 30px;
  border-radius: 10px;
  margin-top: 21px;
}
/* top part */
.top-players {
  margin-bottom: 30px;
}
.section-title {
  font-size: 24px;
  color: #562eff;
  margin-top: 3px;
}
.players {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
}
.player {
  display: flex;
  align-items: center;
}
.player img {
  width: 56px;
  height: 56px;
}
.player-name {
  font-size: 18px;
  margin-left: 16px;
}
hr {
  border: 1px solid #d1d1d1;
  margin-bottom: 30px;
}
/* top blog */
.top-blogs {
}
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 25px;
  grid-column-gap: 40px;
}
.blog {
  display: flex;
  gap: 16px;
  align-items: center;
}
.thumbnail {
}
.thumbnail img {
  width: 224px;
  height: 127px;
}
.blog-info {
}
.blog-title {
  font-size: 17px;
}

.blog-author {
  color: #9f9f9f;
  font-size: 16px;
}
.blog-author a {
  color: #562eff;
  text-decoration: none;
}
/* course  */
.courses {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 24px;
}
.course {
}
.course-banner {
}
.course-banner img {
  width: 266px;
  height: 141px;
}
.course-detail {
}
.course-title {
  font-size: 20px;
  color: #1e1e1e;
  font-weight: normal;
}
.course-author {
  font-weight: 400;
  font-size: 14px;
  color: #ed6b4f;
}
.course-info {
  display: flex;
  color: #a2a2a2;
  font-size: 14px;
  align-items: center;
  justify-content: space-between;
}
/* icon */
.fa-star {
  font-size: 12px;
}
.fa-star.filled {
  color: #ffc014;
}
.fa-star.empty {
  color: #aeaeae;
}
/* icon end */

/* media query  */
/* mobile device */
@media screen and (max-width: 688px) {
  .container {
    width: 100%;
  }
  .section-title {
    text-align: center;
  }
  .players,
  .blogs,
  .courses {
    /* background-color: red; */
    grid-template-columns: repeat(1, 1fr);
  }
  .player,
  .blog,
  .course {
    flex-direction: column;
    /* justify-content: center; */
    /* align-items: center; */
  }
}
